::-webkit-scrollbar {
    border-radius: 1vw;
    opacity: .5;
    width: 1vw;
}

::-webkit-scrollbar-track {
    background-color: #272727;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(86, 85, 85);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(98, 98, 98);
    box-shadow: .1vw white;
}

body {
    margin: none;
    padding: none;
    overflow-x: hidden;
    background-color: #272727;
    font-family: monospace;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar {
    background:#272727b3;
    height: 4vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    opacity: 90%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 4vh;
    justify-content: flex-end;

}
div#navbar *{
    margin: .75vh 1vh 2vw 3vw;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.05em;
    text-decoration: none;
    font-weight: bolder;
    outline: none;
}

div#navbar *:hover{
    color: grey;
    font-size: 1.1em;

}

#sidebar_button{
    position: fixed;
    top: 1vh;
    left: 1vw;
    z-index: 2;
}
#sidebar_button:hover{
    text-shadow: 0 0 2vw white;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    margin: none;
    top: 8vh;
    width: 0;
    height: 100vh;
    background: #212121;
    transition: 0.5s;
    z-index: 1;
}

#sidebar_content p, #sidebar_content a {
    padding: .5vh;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    display: block;
    transition: 0.5s;
    font-size: 1em;
    text-align: center;
}

#sidebar_content p:hover {
    color: grey;
    font-size: 1.25em;
}

#main {
    padding-top: 7vh;
    transition: margin-left .5s;
}

#main p {
    color: white;
}

.page h1, h2 {
    color: whitesmoke;
    background-color: #000000b3;
    font-size: 2em;
    padding: 1vh 1.5vw;
}
.page h1{
    position: fixed;
    float: left;
    margin: 7.5vh;
}

h2{
    margin:7.5vh 15vh 7.5vw 7.5vw;
    float: right;
}

#firstContent {
    position: fixed;
    float: left;
    margin-top: 20vh;
    margin-left: 10vw;
    width: 75vh;
    background-color: #272727;
    opacity: 80%;
    padding: 1vh 2vw;
    box-shadow: 1vh 1vh rgb(15, 15, 15);
}

.page{
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw; 
    background-attachment: fixed; 
}
.page#first{
    position: relative;
    background-image: url(photos/frontpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.page#second{
    background-color: #272727;
}

#photoTwo{
    height: 100vh;
    float: left;
    padding-left: 15vw;
}

#secondContent{
    width: 35vw;
    float: left;
    margin-left: 10vw;
    margin-top: 5vh;
}

/*Credits*/
#credits_content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    padding: 5vw;
    background-image: url(photos/CreditsBk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
dl{
    position: relative;
    top: 10vh;
    width: 45vw;
    margin-top: 5vh;
    float: right;
    background-color: rgba(93, 93, 93, 0.626);
    padding: 20px;
}
dd,dt{
    font-size: 1em;
}